* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A; /*background color*/
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;

    --font-family: 'Archivo', sans-serif;
    --title-lg: 800 24px/135% var(--font-family);
    --title-md: 700 16px/140% var(--font-family);
    --title-sm: 600 14px/140% var(--font-family);

    
    --text-subtitle: 600 14px/145% var(--font-family);
    --text-md: 400 14px/145% var(--font-family);
    --text-sm: 400 14px/160% var(--font-family); /*small é o paragraph padrão do figma*/
}

body {
    color: var(--text-color-primary);
    background-color: var(--bg-color);
    
}

a {
    text-decoration: none;
    color: inherit; /*herdar a cor que está no body*/
}

a:hover {
    color: var(--brand-color-light);
}

h1, h1, h3 {
    font: inherit;
}

img {
    max-width: 100%;
   
}

.container {
    max-width: 1280px; /*valor do auto layout figma, tamanho container*/
    padding-inline: 32px; /*espaço em cima e baixo*/
    margin-inline: auto; /*espaço eixo horizontal*/
}

main {
    margin-block: 52px; /*cima e embaixo*/
    row-gap: 80px;
    column-gap: 32px; /*espaço entre os elementos ads e a IA*/

    grid-template-columns: 2fr 1.37fr;

    grid-template-areas:
     "featured featured"
     "weekly weekly"
     "IA aside";
}


.content-tag {
    display: inline-block; /*quero os dois comportamentos, o padding se comporta melhor*/
    background-color: var(--brand-color-dark);
    padding: 5px 8px;
    border-radius: 4px;
    font: 500 10px/1.2 var(--font-family); /*peso 500, 10px com 1.2 altura de linha*/
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: var(--text-color-primary);
    box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);
    
}


/* Por padrão, os elementos aparecem */
.desktop-only {
    display: initial;
}

/* Oculta os elementos em telas menores que 768px */
@media (max-width: 767px) {
    .desktop-only {
        display: none;
    }

    .container {
        display: grid;
        --max-width: 375px; /*fator máximo que é permitido de largura, pois é o tamanho width tela mobile figma*/
        width: min(var(--max-width), 100% - var(--padding-inline-lg) * 2);
        padding-inline: 1rem;
    }

    main {  
        margin-block: 52px; /*cima e embaixo*/
        row-gap: 2rem;
        column-gap: 20px; /*espaço entre os elementos ads e a IA*/

        grid-template-rows: 1fr;
        grid-template-areas:
        "featured featured"
        "weekly weekly"
        "IA IA"
        "aside aside";
    }

    aside {
        order: 2;
        grid-column: 1 / -1; /* Garante que o aside ocupe toda a largura disponível */
        padding: 16px; /* Ajuste de padding para melhorar o espaçamento */
        width: 100%;
    }

}