#featured img {
    height: 100%;
    object-fit: cover;
    border-radius: 4px; /*arredondar as bordas*/
}

.card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 0px;

    padding: 24px;

  
}

figcaption:has(.text-lg) {
    padding: 12px;
}

h2 {
    margin-top: 8px;
}

.card::before {
   
    content: "";
    position:absolute;
    inset: 0;
    top: 50%;
    background: linear-gradient(
        180deg,
        transparent 0%,
        #020617 100%
    );
}

/*texto duas vezes grande*/
.text-2xl {
    font: var(--h1);
}

.text-xl {
    font: var(--h2);
}

.text-lg {
    font: var(--h3);
}

.text-sm {
    font: var(--text-sm);
}